.footer {
    position: relative;
    background-color: #ECE6D8;
    display: flex;
    flex-direction: row;
    padding-bottom: 5rem;
    padding-top: 1rem;
    min-width: 100vw;
    font-family: "Space Grotesk", serif;
    gap: 2rem;

    @media(max-width: 768px) {
        left: 0;
        flex-direction: column;
    }

    .logos {
        .mainLogo {
            fill: black;
            max-height: 44px;
            align-items: flex-start;
            margin-top: 1rem;
            margin-bottom: 6rem;

           
            @media(max-width: 768px){
                margin-left: -1rem;
            }
            }
    }

    .content {
        white-space: pre-wrap;

        .contactUs {
            &Content {
                padding-right: 2rem;
                align-items: flex-start;

                @media(max-width: 600px) {
                    margin-left: -1rem;
                }
            }

            &Links {
                margin: 0 2rem;
                font-size: 1rem;
                margin-left: 0.8rem;

                @media(max-width: 750px){
                    margin-left: 0;
                }

                .link {
                    cursor: pointer;
                    text-decoration: none;
                    color: black;
                }

                .tel {
                    cursor: initial;
                    margin-bottom: 1rem;
                }

                hr {
                    margin-left: 0.7rem;
                    width: 25%;
                    background-color: black !important;
                    border-color: black !important;
                    opacity: 1;
                }

            }
        }
    }

    .map {
        margin-top: 9px;
        @media(max-width: 750px) {
            min-width: 100vw;
            padding-right: 1rem;
        }
        @media(max-width: 450px) {
            padding-left: 0;
            padding-right: 0.5rem;
        }
    }
}