.footer {
    position: relative;
    background-color: #E6DCCC;
    display: flex;
    flex-direction: row;
    padding-bottom: 5rem;
    min-width: 100vw;
    font-family: "Space Grotesk", serif;
    gap: 2rem;

    .logos {
        display: flex;
        flex-direction: column;

        .mainLogo {
            fill: black;
            max-height: 44px;
            align-items: flex-start;
            margin-top: 1rem;
            margin-bottom: 6rem;
        }
    }

    .content {
        white-space: pre-wrap;

        .contactUs {
            &Content {
                padding-right: 2rem;
            }

            &Links {
                margin: 0 2rem;
                font-size: 1rem;
                margin-left: 1.2rem;

                .link {
                    cursor: pointer;
                    text-decoration: none;
                    color: black;
                }

                hr {
                    margin-left: 0.7rem;
                    width: 25%;
                    background-color: black!important;
                    border-color: black!important;
                    opacity: 1;
                }

            }
        }
    }
}