.header {
    font-family: "Space Grotesk", serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    transition: all 0.3s ease;
    min-width: 100vw;
    overflow: hidden;

    &Links {
        &Desktop {
            position: absolute;
            right: -4.4vw;
            padding: 0.2rem;

            .links {
                padding-right: 2rem;
                color: black;
                text-decoration: none;
                font-size: 1rem;
                &:last-of-type {
                    padding-right: 0;
                }
            }

            display: block;

            @media(max-width: 1100px) {
                display: none;
            }
        }

        &Mobile {
            display: none;

            @media(max-width: 1100px) {
                display: inline-flex;

                img {
                    position: absolute;
                    right: 5%;
                    top: 0;

                }
            }
        }
    }

    .navL1 {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #D9D9D9;
        color: white;
        padding: 32px;
        height: 2rem;
        min-width: 102vw;
        z-index: 10;


        .logoSmall {
            max-height: 30px;
            fill: black;
        }

        .navWrapper {
            position: absolute;
            top: 25%;
        }

    }

    .navB {
        position: fixed;
        top: 0;
        left: 0;
        padding: 2rem;
        height: 100px;
        min-width: 102vw;
        background-color: #E2D6C5;
        color: black;
        z-index: 10;

        .navWrapper {
            position: absolute;
            top: 25%;
            background-color: #E2D6C5;
            min-width: 100vw;

            .desktop {
                @media(max-width: 1100px) {
                    display: none;
                }
            }
        }

        .logoFull {
            position: relative;
            max-height: 72px;
        }
    }

    .banner {
        background-color: #E2D6C5;
        position: relative;
        top: 0;
        left: 2rem;
        padding: 32px;
        mask-repeat: no-repeat;
        mask-position: center;
        min-height: 93cqh;
        min-width: 100vw;
        margin: 0 auto;
        margin-bottom: 0;
        align-self: center;
        overflow: hidden;
        
        @media(max-width: 1460px) {
            min-height: 45cqh;
        }
        
        @media(max-width: 1100px) {
            min-height: 40cqh;
            max-width: 100%;
        }
        
        &Overlay {
            position: absolute;
            top: 2%;
            left: 1rem;
            margin-top: 2%;
            margin: 0 auto;
            min-width: 100%;
            min-height: 100%;
            background-color: #E2D6C5;
            mask-image: url('/mask.svg');
            -webkit-mask-image: url('/mask.svg');
            mask-repeat: no-repeat;
            mask-position: center top;
            mask-size: 127.5vw;
            mask-composite: exclude; /* Inverts the mask */
            -webkit-mask-composite: xor; /* For WebKit browsers */
        }

        img {
            position: absolute;
            top: 2%;
            margin: 0 auto;
            min-width: 100vw;
            min-height: 100%;
            object-fit: fill;

            // @media(max-width: 1460px) {
            //     top: 20%;
            //     max-width: 60cqw;
            // }

            // mask-image: url('/mtamer-site-ui/logo-mask.png');
            // -webkit-mask-image: url('/mtamer-site-ui/logo-mask.png');

        }
    }
}