.textGrid {
    font-family: "Space Grotesk", serif;
    font-optical-sizing: auto;
    font-style: normal;

    &:first-of-type {
        margin-top: 1.5rem;
    }

    @media(max-width: 1100px) {
        display: flex;
        flex-direction: column !important;
    }

    .title {
        width: 15%;
        gap: 2rem;
        padding: 1rem;
        border-top: solid 1px black;
        font-size: 16px;
        font-weight: 500;

        @media(max-width: 1100px) {
            display: none;
        }

        &Mobile {
            display: none;

            @media(max-width: 1100px) {
                position: relative;
                padding: 1rem 0;
                min-width: 9rem;
                max-width: 12rem;
                margin-left: 0.3rem;
                display: block;
                border-top: solid 1px black;
                margin-bottom: 3rem;
                text-align: start;
                
                .titleString {
                    position: absolute;
                    left: -8%;
                }

            }

        }
    }

    .content {
        &Wrapper {
            margin-left: 2rem;
            display: flex;
            flex-direction: row;
            
            @media(max-width: 1460px) {
                display: flex;
                flex-direction: column;
                
            }
            
            @media(max-width: 1100px) {
                margin-left: -2%;
                flex-direction: row !important;
                border-top: none;
                gap: 0.05rem;
            }
            
            @media(max-width: 620px) {
                flex-direction: column !important;
            }
            
            .quote {
                margin-left: -1.1%;
                font-size: 1.5rem;
                line-height: 2rem;
                padding: 1rem 0;
                font-weight: 200;
                border-top: solid 1px black;
                
                @media(max-width: 1100px) {
                    border-top: solid 1px black;
                }
            }
            
            .textContent {
                border-top: solid 1px black;
                display: block;
                padding: 1rem 0;
                padding-left: 2rem;
                font-size: 1rem;
                line-height: 1.375rem;

                // white-space: pre-line;
                @media(max-width: 620px) {
                    display: none;
                }
            }

            .textReadMore {
                padding-top: 1rem;
                font-size: 1rem;
                line-height: 1.375rem;
                display: none;

                @media(max-width: 620px) {
                    white-space: pre-line;
                    display: block;
                    border-top: solid 1px black;
                }
            }
        }
    }

    .profile {
        &Wrapper {
            margin-left: 2rem;
            gap: 1rem;
            display: flex;
            flex-direction: row;
            position: relative;
            @media(max-width: 620px){
                flex-direction: column;
                margin-left: 0;
            }
        }

        &Content {
            padding-right: 2rem;
            @media(max-width: 620px){
                padding: none;
            }
        }

        &Data {
            border-top: solid 1px black;
            font-size: 2rem;
            margin-bottom: 12%;

        }

        &Bio {
            font-size: 1rem;
            cursor: pointer;
        }

        &Links {
            font-size: 1rem;
            margin-top: 3%;
            padding-top: 3%;
            border-top: solid 1px black;
            display: flex;
            flex-direction: column;

            .link {
                width: max-content;
                cursor: pointer;
                text-decoration: none;
                color: black;
            }

        }

        &Pic {
            position: relative;
            left: 0;
            bottom: 0;
            max-width: 100%;
        }
    }
}