.textGrid {
    font-family: "Space Grotesk", serif;
    font-optical-sizing: auto;
    font-style: normal;

    &:first-of-type {
        margin-top: 1.5rem;
    }

    @media(max-width: 1100px) {
        display: flex;
        flex-direction: column !important;
    }

    .title {
        width: 15%;
        gap: 2rem;
        padding: 1rem;
        padding-left: 0;
        border-top: solid 1px black;
        font-size: 16px;
        font-weight: 500;

        @media(max-width: 1100px) {
            display: none;
        }

        &Mobile {
            display: none;

            @media(max-width: 1100px) {
                position: relative;
                padding: 1rem 0;
                min-width: 9rem;
                max-width: 12rem;
                margin-left: 0.3rem;
                display: block;
                border-top: solid 1px black;
                margin-bottom: 3rem;
                text-align: start;

                .titleString {
                    position: absolute;
                    left: -6%;
                }

            }

        }
    }

    .content {
        &Wrapper {
            margin-left: 2rem;
            display: flex;
            flex-direction: row;

            @media(max-width: 1100px) {
                min-width: 65vw;
                // margin-left: -0.5%;
                flex-direction: row !important;
                border-top: none;
                gap: 0.05rem;
            }
            @media(max-width: 991px) {
                flex-direction: column !important;
                margin-left: 1.5rem;
            }

            @media(max-width: 600px) {
                margin-left: 1rem;
                min-width: 90vw;
                flex-direction: column !important;
                padding-right: 1rem;
            }

            .quote {
                margin-left: -1.1%;
                font-size: 1.5rem;
                line-height: 2rem;
                padding: 1rem 0;
                font-weight: 200;
                border-top: solid 1px black;

                @media(max-width: 1200px) {
                    border-top: solid 1px black;
                    margin-left: -3.8dvw;
                }
                @media(max-width: 400px){
                    margin-left: -6dvw;
                }
            }

            .textContent {
                border-top: solid 1px black;
                display: block;
                padding: 1rem 0;
                padding-left: 2rem;
                font-size: 1rem;
                line-height: 1.375rem;

                @media(max-width: 991px) {
                    padding-left: 0;
                    margin-left: -3.8vw;
                }
                @media(max-width: 620px) {
                    display: none;
                }
            }

            .textReadMore {
                padding-top: 1rem;
                font-size: 1rem;
                line-height: 1.375rem;
                display: none;

                @media(max-width: 620px) {
                    margin-left: -1.5rem;
                    white-space: pre-line;
                    display: block;
                    border-top: solid 1px black;
                }
            }
        }
    }

    .profile {
        &Wrapper {
            margin-left: 2rem;
            gap: 1rem;
            display: flex;
            flex-direction: row;
            position: relative;

            a,
            b,
            p,
            span {
                padding-left: 0;
            }

            @media(max-width: 1200px) {
                margin-left: 0;
                min-width: 95vw;
                border-top: none;
                gap: 0.05rem;
            }
            
            @media(max-width: 991px) {
                flex-direction: column !important;
                min-width: 90vw;
            }
            @media(max-width: 520px) {
                margin-left: 5px;
            }
        }

        &Content {
            padding-right: 2rem;

            @media(max-width: 620px) {
                padding: none;
            }
        }

        &Data {
            border-top: solid 1px black;
            font-size: 2rem;
            margin-bottom: 12%;

        }

        &Bio {
            font-size: 1rem;
            cursor: pointer;
        }

        &Links {
            font-size: 1rem;
            margin-top: 3%;
            padding-top: 3%;
            border-top: solid 1px black;
            display: flex;
            flex-direction: column;

            .link {
                width: max-content;
                cursor: pointer;
                text-decoration: none;
                color: black;
            }

        }

        &Pic {
            position: relative;
            left: 0;
            bottom: 0;
            max-width: 100%;

            @media(max-width: 991px) {
                margin-top: 2rem;
                left: -0.5rem;
            }
            @media(max-width: 520px) {
                left: -0.66rem;
            }
        }
    }
}