.pageWrapper {
  display: -webkit-box;
  gap: 1rem 2rem; // Adjust spacing between columns
  margin: 0 auto;
  padding: 1rem;
  position: relative;
  overflow-x: hidden!important;
  .anchor {
    padding: 2rem;
  }
  &.pageModalWrapper {
    position: absolute;
    top: 3.9%;
  }
  &.pageMenuWrapper{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 99vw;
    overflow: hidden!important;
  }
}