.pageWrapper {
  display: -webkit-box;
  gap: 1rem 2rem; // Adjust spacing between columns
  margin: 0 auto;
  padding: 1rem;
  padding-left: 2rem;
  position: relative;
  overflow: hidden!important;
  .anchor {
    padding: 2rem;
  }
  &.pageModalWrapper {
    width: 100%;
    overflow-y: scroll;
    position: absolute;
    top: 3.9%;
  }
  &.pageMenuWrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden!important;
  }
}