.readMoreContainer {
    position: relative;
    max-width: 100%;
    margin: auto;
  
  .collapsedText {
    display: -webkit-box;
    // -webkit-line-clamp: 3; 
    // Adjust the number of lines before "Ler mais" appears, kept here if needed
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .readMoreButton {
    display: block;
    margin-top: 1rem;
    margin-left: 2px;
    padding-top: 1rem;
    background: none;
    border: none;
    color: black;
    border-top: 1px solid black;
    min-width: 100%;
    cursor: pointer;
    font-size: 1rem;

    .text {
      position: relative;
      left: -40%;
    }
    .plus {
      position: relative;
      right: -40%;
      
    }
  }
}