.banner {
    background-color: #ECE6D8;
    position: relative;
    top: -1rem;
    left: -0.5rem;
    padding: 32px;
    padding-top: 7rem;
    min-width: 100vw;
    max-width: 100vw;
    margin: 0 auto;
    margin-bottom: 0;
    align-self: center;
    overflow: hidden;
    overflow-x: hidden!important;
    &Wrapper {
        min-width: 100vw;
    }
    video {
        width: 100%;
    }
    @media(max-width: 991px) and (min-width: 600px){
        left: -0.4rem;
        min-width: 102vw;
    }

}